.about__wrapper {
  position: relative;

  max-width: 290px;
  min-height: 400px;
  margin: 0 auto;
  padding: 50px 0;

  word-break: break-word;

  @media (min-width: $tablet-width) {
    max-width: 678px;
    padding: 50px 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1240px;
    padding: 63px 100px 60px;
  }
}

.about__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.about__heading-wrapper {
  max-width: 705px;

  p {
    margin: 0;
    padding-bottom: 40px;

    font-weight: $regular;
    font-size: 16px;
    line-height: 22px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 26px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;

      font-size: 22px;
      line-height: 32px;
    }
  }
}

.about__title {
  padding-bottom: 15px;


  @media (min-width: $tablet-width) {
    padding: 0 0 31px;
  }

  @media (min-width: $desktop-width) {
    padding: 7px 0 30px;
  }
}

.about__content-wrapper {
  max-width: 498px;

  h3 {
    margin: 0;
    padding-bottom: 20px;

    font-weight: $regular;
    font-size: 18px;
    line-height: 22px;
    color: $color-yinmn-blue;

    @media (min-width: $tablet-width) {
      padding-bottom: 29px;

      font-size: 28px;
      line-height: 28px;
    }

    @media (min-width: $desktop-width) {
      padding: 7px 0 40px;

      font-size: 32px;
      line-height: 36px;
    }
  }

  p {
    margin: 0;
    padding-bottom: 38px;

    font-size: 14px;
    line-height: 20px;

    @media (min-width: $tablet-width) {
      padding-bottom: 40px;

      font-size: 16px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 50px;

      line-height: 26px;
    }
  }
}

.about__button {
  position: relative;

  padding: 13px 58px 12px 20px;

  font-weight: $medium;
  font-size: 12px;
  line-height: 12px;
  color: $color-yinmn-blue;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.28px;

  border: 1px solid $color-yinmn-blue;
  border-radius: 30px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    padding: 20.5px 80px 20px 30px;

    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 81px 21px 30px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    right: 4px;

    width: 34px;
    height: 34px;

    background-color: $color-yinmn-blue;
    border-radius: 44px;

    @media (min-width: $tablet-width) {
      top: 4px;
      right: 4px;

      width: 46px;
      height: 46px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 17px;

    width: 9px;
    height: 9px;

    background-color: $color-default-white;
    transform: rotate(-45deg);

    mask-image: url("/__spritemap#sprite-arrow-view");
    mask-repeat: no-repeat;
    mask-size: cover;
    stroke-width: 1.6px;

    @media (min-width: $tablet-width) {
      top: 22px;
      right: 21px;
    }
  }
}

.about__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px 20px 40px 10px;

  list-style: none;
  color: $color-alabaster;

  background-color: $color-yinmn-blue;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;

    row-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 100px 50px 106px;
  }
}

.about__item {
  position: relative;

  display: flex;
  flex-direction: column;
  margin: 22.5px 0 0 10px;
  padding: 15px 19px 15px 20px;

  border: 1px solid $color-alabaster;
  border-radius: 16px;

  row-gap: 5px;

  &::before {
    content: "";
    position: absolute;
    top: -23px;
    left: -21px;
    z-index: 0;

    width: 42px;
    height: 42px;

    background: #316dc2 url("/__spritemap#sprite-star-view") no-repeat center;
    background-size: 22px 22px;
  }


  &:nth-child(2n),
  &:nth-child(3n) {
    margin: 22.5px 0 0 10px;
  }

  @media (min-width: $tablet-width) {
    width: 209px;
    margin: 22px 0 0 20px;
    padding: 15px 22px 15px 20px;

    row-gap: 7px;

    &:nth-child(2n),
    &:nth-child(3n) {
      margin: 22.5px 0 0 19.5px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 402px;
    margin: 22px 0 0 14px;
    padding: 50px 40px 30px;

    &:nth-child(1n) {
      padding-top: 50px;

      p {
        padding-left: 42px;
      }
    }

    &:nth-child(2n) {
      margin: 22px 0 0 14px;
      padding-top: 30px;

      h3 {
        padding-top: 21px;
      }

      p {
        padding-left: 26px;
      }
    }

    &:nth-child(3n) {
      margin: 22px 0 0 14px;
      padding-top: 30px;

      @media (max-width: $mobile-width-only) {
        br {
          display: none;
        }
      }

      h3 {
        padding-top: 11px;
      }

      p {
        padding-left: 28px;
      }
    }

    &:nth-child(4n) {
      padding-top: 40px;

      h3 {
        width: 225px;
        padding-top: 1px;
      }

      p {
        position: relative;

        padding-left: 66px;
      }
    }
  }

  h3 {
    width: fit-content;
    margin: 0;
    padding-bottom: 10px;

    font-weight: $regular;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.16px;

    @media (min-width: $tablet-width) {
      padding-bottom: 8px;

      font-size: 20px;
      line-height: 22px;
      letter-spacing: 0.2px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;

      font-size: 26px;
      line-height: 30px;
      letter-spacing: 0.26px;
    }
  }

  p {
    width: fit-content;
    margin: 0;

    font-weight: $light;
    font-size: 14px;
    line-height: 20px;

    @media (min-width: $tablet-width) {
      font-size: 16px;
    }
  }
}
