.faq__wrapper {
  max-width: 290px;
  margin: 0 auto;
  padding: 50.5px 0;
  padding-bottom: 51px;

  word-break: break-word;

  @media (min-width: $tablet-width) {
    max-width: 678px;
    padding: 50px 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1028px;
    padding: 60px 0;
    padding-bottom: 61px;
  }
}

.faq__title {
  margin: 0 auto;
  padding: 0 60px 0 58px;
  overflow: hidden;
  white-space: nowrap;

  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 11px;
    overflow: visible;
  }
}

.faq__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 30px;

  list-style-type: none;

  gap: 10.5px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    gap: 11px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
    gap: 10.5px;
  }
}

.faq__question-title {
  width: 187px;
  margin: 0;

  font-weight: $regular;
  font-size: 16px;
  line-height: 18px;
  color: $color-yinmn-blue;

  transition: color 0.3s ease;

  @media (min-width: $tablet-width) {
    width: 470px;

    font-size: 22px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 775px;

    font-size: 28px;
    line-height: 34px;
  }
}

.faq__accordion-answer {
  max-height: 0;
  overflow: hidden;

  transition: all 0.3s linear;

  p {
    margin: 0;

    font-weight: $regular;
    font-size: 14px;
    line-height: 20px;
    color: $color-alabaster;

    @media (min-width: $tablet-width) {
      font-size: 16px;
    }

    @media (min-width: $desktop-width) {
      line-height: 26px;
    }
  }
}

.faq__accordion-answer.is-open {
  max-height: 200px;
  padding-top: 22px;

  transform: translateY(0);
  opacity: 1;

  @media (min-width: $tablet-width) {
    padding-top: 27px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 23px;
  }
}

.faq__item {
  position: relative;

  padding: 23px 17px 21px 15px;

  background-color: transparent;
  border: 2px solid $color-yinmn-blue;
  border-radius: 14px;
  cursor: pointer;

  transition: background-color 0.3s ease;

  &:nth-child(4n) {
    padding: 21px 17px 20px 15px;
  }

  &:nth-child(4n) .faq__accordion-button {
    top: 27px;
  }

  &:nth-child(5n) {
    padding: 20px 17px 19px 15px;
  }

  &:nth-child(5n) .faq__accordion-button {
    top: 36px;
  }


  @media (min-width: $tablet-width) {
    padding: 37px 42px 37px 30px;

    border-radius: 16px;

    &:nth-child(4n) {
      padding: 30px 42px 30px 30px;
    }

    &:nth-child(4n) .faq__accordion-button {
      top: 30px;
    }

    &:nth-child(4n) .faq__question-title {
      width: 410px;
    }

    &:nth-child(5n) {
      padding: 30px 42px 30px 30px;
    }

    &:nth-child(5n) .faq__accordion-button {
      top: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 44px 42px 42px 40px;

    &:nth-child(4n) {
      padding: 40px 42px 39px 40px;
    }

    &:nth-child(4n) .faq__accordion-button {
      top: 40px;
    }

    &:nth-child(4n) .faq__question-title {
      width: 775px;
    }

    &:nth-child(5n) {
      padding: 42px 42px 39px 40px;
    }

    &:nth-child(5n) .faq__accordion-button {
      top: 40px;
    }
  }
}

.faq__item.is-open {
  padding-bottom: 20px;

  background-color: $color-yinmn-blue;

  @media (min-width: $tablet-width) {
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 40px;
  }

  .faq__question-title {
    color: $color-default-white;
  }

  .faq__accordion-button {
    background-color: $color-default-white;
    top: 20.5px;

    @media (min-width: $tablet-width) {
      top: 30px;
    }

    @media (min-width: $desktop-width) {
      top: 40px;
    }
  }

  .faq__accordion-button::before,
  .faq__accordion-button::after {
    background-color: $color-yinmn-blue;
  }

  .faq__accordion-button::after {
    display: none;
  }
}

.faq__accordion-button {
  position: absolute;
  top: 20px;
  right: 15.5px;

  width: 40px;
  height: 40px;

  background-color: $color-yinmn-blue;
  border: 1px solid $color-yinmn-blue;
  border-radius: 50%;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: $color-default-white;
    transform: translate(-50%, -50%);
  }

  &::before {
    width: 18px;
    height: 1px;
  }

  &::after {
    width: 1px;
    height: 18px;
  }

  @media (min-width: $tablet-width) {
    top: 30px;
    right: 30px;
  }

  @media (min-width: $desktop-width) {
    top: 40px;
    right: 40px;
  }
}

.faq__item:hover,
.faq__item:focus-within {
  background-color: $color-default-white;

  .faq__accordion-button {
    background-color: $color-default-white;
    outline: none;
  }

  .faq__accordion-button::before,
  .faq__accordion-button::after {
    background-color: $color-yinmn-blue;
  }
}

.faq__item:active {
  .faq__question-title {
    color: $color-medium-sapphire;
  }

  .faq__accordion-button {
    background-color: $color-medium-sapphire;
  }

  .faq__accordion-button::before,
  .faq__accordion-button::after {
    background-color: $color-default-white;
  }
}

.faq__item.is-open:hover,
.faq__item.is-open:focus-within {
  background-color: $color-yinmn-blue;

  .faq__accordion-button {
    background-color: $color-yinmn-blue;
    border-color: $color-default-white;
  }

  .faq__accordion-button::before,
  .faq__accordion-button::after {
    background-color: $color-default-white;
  }
}

.faq__item.is-open:active {
  background-color: $color-medium-sapphire;

  .faq__question-title {
    color: $color-default-white;
  }

  .faq__accordion-button {
    background-color: $color-default-white;
  }

  .faq__accordion-button::before,
  .faq__accordion-button::after {
    background-color: $color-yinmn-blue;
  }
}
