.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;

  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;
  padding: 38px 15px 40px;

  background-color: $color-default-white;
  border-radius: 16px;
  transform: translate(-50%, -50%) scale(0.6);
  visibility: hidden;
  opacity: 0;

  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;

  pointer-events: none;

  @media (min-width: $tablet-width) {
    width: 350px;
    padding: 55px 80px 58px;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 80px 60px;
  }
}

.modal.is-open {
  min-height: 450px;

  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
  opacity: 1;

  pointer-events: auto;

  @media (min-width: $tablet-width) {
    min-height: 525px;
  }

  @media (min-width: $desktop-width) {
    min-height: 535px;
  }
}

.modal__title {
  margin: 0;
  padding-bottom: 11px;

  font-weight: $regular;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: v;

  @media (min-width: $tablet-width) {
    padding-bottom: 17px;

    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 14px;

    font-size: 32px;
    line-height: 36px;
  }
}

.modal__description {
  width: 200px;
  margin: 0 auto;

  font-weight: $regular;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  span {
    white-space: nowrap;
  }

  @media (min-width: $tablet-width) {
    width: auto;

    font-size: 16px;

    span {
      white-space: wrap;
    }
  }

  @media (min-width: $desktop-width) {
    width: 350px;

    line-height: 26px;
  }
}


.modal__form {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    width: 350px;
    padding-top: 30px;
  }
}

.modal__close-button {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 16px;
  height: 16px;
  padding: 0;

  background-color: transparent;
  background-image: url("/__spritemap#sprite-cross-view");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: 30px;
    right: 30px;

    width: 22px;
    height: 22px;
  }
}

.modal__field {
  height: 40px;
  margin-top: 8px;
  margin-bottom: 15px;
  padding-left: 25px;

  border: 1px solid rgba($color-alcro-anis, 0.3);
  border-radius: 8px;
  outline: none;

  @media (min-width: $tablet-width) {
    height: 46px;
    margin-top: 12px;
    margin-bottom: 20px;
  }
}

.modal__field.select__field {
  margin-top: 15px;
  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    padding-left: 20px;
  }
}

.modal__field:hover:not(:disabled),
.modal__field:hover:not(:disabled) + .modal__label,
.modal__field:focus:not(:disabled),
.modal__field:focus:not(:disabled) + .modal__label {
  border-color: rgba($color-alcro-anis, 1);
  opacity: 1;
}

.modal__label {
  display: flex;
  flex-direction: column-reverse;

  font-weight: $regular;
  font-size: 14px;
  line-height: 14px;

  opacity: 0.8;

  @media (min-width: $tablet-width) {
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 18px;
  }
}

.modal__field:disabled {
  background-color: rgba($color-dark-gray, 0.2);
  border-color: rgba($color-dark-gray, 0.5);

  user-select: none;
}

.modal__field:disabled + .modal__label {
  color: rgba($color-dark-gray, 0.6);
}

.modal__submit-button {
  position: relative;

  margin-top: 26px;
  padding: 13px 58px 14.5px 20px;

  font-weight: $medium;
  font-size: 12px;
  line-height: 12px;
  color: $color-yinmn-blue;
  text-transform: uppercase;
  letter-spacing: 0.28px;

  background-color: $color-default-white;
  border: 1px solid $color-yinmn-blue;
  border-radius: 30px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    width: 195px;
    margin: 0 auto;
    margin-top: 34px;
    padding: 19px 79px 20px 30px;

    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    width: 194px;
    padding: 19px 77px 19px 27px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    right: 4px;

    width: 34px;
    height: 34px;

    background-color: $color-yinmn-blue;
    border-radius: 44px;

    @media (min-width: $tablet-width) {
      top: 3px;
      right: 3px;

      width: 46px;
      height: 46px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 14px;
    right: 16px;

    width: 9px;
    height: 9px;

    background-color: $color-default-white;
    transform: rotate(-45deg);

    mask-image: url("/__spritemap#sprite-arrow-view");
    mask-repeat: no-repeat;
    mask-size: cover;

    @media (min-width: $tablet-width) {
      top: 21px;
      right: 21px;

      width: 10px;
      height: 10px;
    }
  }
}

.modal__input-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.overlay.is-open-modal {
  display: block;

  opacity: 1;
}
