.news__wrapper {
  position: relative;

  max-width: 290px;
  min-height: 600px;
  margin: 0 auto;
  padding: 50px 0;

  word-break: break-word;

  @media (min-width: $tablet-width) {
    max-width: 678px;
    padding: 50px 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1240px;
    padding: 60px 0;
  }
}

.news__title {
  margin: 0;
  overflow: hidden;

  text-align: center;
}

.news__tab-list {
  display: flex;
  width: 305px;
  margin: 0 auto;
  padding: 24px 0;
  overflow-x: auto;

  list-style: none;

  gap: 9px;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    width: 678px;
    padding-top: 30px;
    padding-left: 2px;

    gap: 7px;
  }

  @media (min-width: $desktop-width) {
    width: fit-content;
    padding: 0;
    padding-top: 40px;

    gap: 30px;
  }
}

.news__tab {
  min-width: max-content;
  padding: 10px 13px 10px 15px;

  font-weight: $medium;
  font-size: 12px;
  line-height: 12px;
  color: rgba($color-yinmn-blue, 0.6);
  text-transform: uppercase;
  letter-spacing: 0.28px;

  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    padding: 15px 19px 15px 21px;

    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    width: 120px;
    padding: 14px 0;

    letter-spacing: 0.28px;
  }

  &:hover {
    color: $color-yinmn-blue;
  }

  &:focus-visible {
    color: $color-yinmn-blue;

    background-color: $color-default-white;
    border-color: transparent;
    outline: none;
  }
}

.news__tab-list .button {
  box-sizing: border-box;
}

.news__tab.is-active {
  padding: 10px 15px 10px 14px;

  color: $color-yinmn-blue;

  border-color: $color-yinmn-blue;

  @media (min-width: $tablet-width) {
    padding: 14.5px 21px 14px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 14.5px 13px 14px;
  }
}

.news__swiper.swiper {
  height: 600px;

  @media (min-width: $tablet-width) {
    height: 760px;
  }

  @media (min-width: $desktop-width) {
    height: 440px;
  }
}

.news__swiper.swiper-grid>.swiper-wrapper {
  flex-wrap: wrap;

  @media (max-width: $tablet-width) {
    min-height: 590px;
  }
}

.news__swiper.swiper-grid-column>.swiper-wrapper {
  flex-direction: column;
  flex-wrap: wrap;
}

.news__swiper-wrapper {
  position: relative;

  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    padding-top: 5px;
    padding-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 40px;
    padding-bottom: 72px;
  }
}

.news__swiper-slide.swiper-slide {
  max-width: 290px;
  min-height: 240px;
  max-height: 240px;

  background-color: $color-dark-gray;
  background-repeat: no-repeat;
  border-radius: 12px;

  @media (max-width: $mobile-width-only) {
    &:nth-child(odd) {
      min-height: 330px;

      .news__content-button {
        &::before {
          top: 18px;
        }

        &::after {
          top: 28px;
        }
      }

      .news__content {
        bottom: 0;
      }

      .news__content-wrapper {
        padding-top: 12px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;

    max-width: 324px;
    max-height: 350px;
  }

  @media (min-width: $desktop-width) {
    max-width: 286px;
    max-height: 400px;
  }
}

.news__swiper-slide:nth-child(even) .news__content-title {
  @media (max-width: $mobile-width) {
    padding: 10px 7px 3px 0;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding: 11px 6px 5px 0;
  }
}

.news__swiper-slide.swiper-slide-active {
  @media (min-width: $desktop-width) {
    max-width: 604px;

    background-position: center;
    background-size: 100%;

    span {
      white-space: nowrap;
    }

    .news__date {
      padding: 11px 12px 6px 0;
    }

    .news__content-wrapper {
      padding: 12px 48px 14px 0;
    }

    .news__content-title {
      width: 420px;
      padding: 18px 6px 6px 0;
    }

    .news__content-wrapper p {
      width: 404px;
    }

    .news__content-button::before {
      top: 15px;
    }

    .news__content-button::after {
      top: 24px;
      width: 10px;
      height: 10px;
    }
  }
}


.news__content-button {
  &::before {
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;

    width: 30px;
    height: 30px;

    background-color: $color-yinmn-blue;
    border-radius: 44px;

    @media (min-width: $tablet-width) {
      top: 37px;
      right: 18px;
    }

    @media (min-width: $desktop-width) {
      top: 15px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 23px;
    right: 19.5px;

    width: 9px;
    height: 9px;

    background-color: $color-default-white;
    transform: rotate(-45deg);

    mask-image: url("/__spritemap#sprite-arrow-view");
    mask-repeat: no-repeat;
    mask-size: cover;

    @media (min-width: $tablet-width) {
      width: 10px;
      height: 10px;
      top: 46.5px;
      right: 28px;
    }

    @media (min-width: $desktop-width) {
      top: 26px;
    }
  }
}

.news__swiper-slide--interview {
  background-image: image-set(url("/img/news/slide-1-mobile@2x.webp") type("image/webp") 2x, url("/img/news/slide-1-mobile@1x.webp") type("image/webp") 1x, url("/img/news/slide-1-mobile@2x.jpeg") type("image/jpeg") 2x, url("/img/news/slide-1-mobile@1x.jpeg") type("image/jpeg") 1x);

  @media (min-width: $tablet-width) {
    background-image: image-set(url("/img/news/slide-1-tablet@2x.webp") type("image/webp") 2x, url("/img/news/slide-1-tablet@1x.webp") type("image/webp") 1x, url("/img/news/slide-1-tablet@2x.jpeg") type("image/jpeg") 2x, url("/img/news/slide-1-tablet@1x.jpeg") type("image/jpeg") 1x);

    .news__content-wrapper {
      padding-right: 54px;

      p {
        width: 170px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    background-image: image-set(url("/img/news/slide-1-wide-desktop@2x.webp") type("image/webp") 2x, url("/img/news/slide-1-wide-desktop@1x.webp") type("image/webp") 1x, url("/img/news/slide-1-wide-desktop@2x.jepg") type("image/jpeg") 2x, url("/img/news/slide-1-wide-desktop@1x.jpeg") type("image/jepg") 1x);
  }
}

.news__swiper-slide--travel {
  background-image: image-set(url("/img/news/slide-2-mobile@2x.webp") type("image/webp") 2x, url("/img/news/slide-2-mobile@1x.webp") type("image/webp") 1x, url("/img/news/slide-2-mobile@2x.jpeg") type("image/jpeg") 2x, url("/img/news/slide-2-mobile@1x.jpeg") type("image/jpeg") 1x);

  @media (min-width: $tablet-width) {
    top: -380px;
    left: 354px;

    background-image: image-set(url("/img/news/slide-2-tablet@2x.webp") type("image/webp") 2x, url("/img/news/slide-2-tablet@1x.webp") type("image/webp") 1x, url("/img/news/slide-2-tablet@2x.jpeg") type("image/jpeg") 2x, url("/img/news/slide-2-tablet@1x.jpeg") type("image/jpeg") 1x);

    .news__content-button::before {
      top: 17px;
    }

    .news__content-button::after {
      top: 27px;
      width: 10px;
      height: 10px;
    }
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 0;

    background-image: image-set(url("/img/news/slide-2-desktop@2x.webp") type("image/webp") 2x, url("/img/news/slide-2-desktop@1x.webp") type("image/webp") 1x, url("/img/news/slide-2-desktop@2x.jpeg") type("image/jpeg") 2x, url("/img/news/slide-2-desktop@1x.jpeg") type("image/jpeg") 1x);

    .news__content-button::before {
      top: 15px;
    }

    .news__content-button::after {
      top: 24px;
    }
  }
}

.news__swiper-slide--program {
  background-image: image-set(url("/img/news/slide-3-mobile@2x.webp") type("image/webp") 2x, url("/img/news/slide-3-mobile@1x.webp") type("image/webp") 1x, url("/img/news/slide-3-mobile@2x.jpeg") type("image/jpeg") 2x, url("/img/news/slide-3-mobile@1x.jpeg") type("image/jpeg") 1x);

  @media (min-width: $tablet-width) {
    top: 380px;
    right: 354px;

    background-image: image-set(url("/img/news/slide-3-tablet@2x.webp") type("image/webp") 2x, url("/img/news/slide-3-tablet@1x.webp") type("image/webp") 1x, url("/img/news/slide-3-tablet@2x.jpeg") type("image/jpeg") 2x, url("/img/news/slide-3-tablet@1x.jpeg") type("image/jpeg") 1x);


    .news__content-button::before {
      top: 17px;
    }

    .news__content-button::after {
      top: 26.5px;
    }
  }

  @media (min-width: $desktop-width) {
    top: 0;
    right: 0;

    background-image: image-set(url("/img/news/slide-3-desktop@2x.webp") type("image/webp") 2x, url("/img/news/slide-3-desktop@1x.webp") type("image/webp") 1x, url("/img/news/slide-3-desktop@2x.jpeg") type("image/jpeg") 2x, url("/img/news/slide-3-desktop@1x.jpeg") type("image/jpeg") 1x);

    span {
      white-space: nowrap;
    }

    .news__date {
      padding-right: 12px;
    }

    .news__content-wrapper {
      padding-right: 47px;
      padding-bottom: 15px;
    }

    .news__content-button::before {
      top: 15px;
    }

    .news__content-button::after {
      top: 24px;
    }
  }
}

.news__swiper-slide--career {
  background-image: image-set(url("/img/news/slide-4-mobile@2x.webp") type("image/webp") 2x, url("/img/news/slide-4-mobile@1x.webp") type("image/webp") 1x, url("/img/news/slide-4-mobile@2x.jpeg") type("image/jpeg") 2x, url("/img/news/slide-4-mobile@1x.jpeg") type("image/jpeg") 1x);

  @media (min-width: $tablet-width) {
    background-image: image-set(url("/img/news/slide-4-tablet@2x.webp") type("image/webp") 2x, url("/img/news/slide-4-tablet@1x.webp") type("image/webp") 1x, url("/img/news/slide-4-tablet@2x.jpeg") type("image/jpeg") 2x, url("/img/news/slide-4-tablet@1x.jpeg") type("image/jpeg") 1x);
  }


  .news__content-button::before {
    top: 27px;
  }

  .news__content-button::after {
    top: 36px;
  }


  @media (min-width: $desktop-width) {
    background-image: image-set(url("/img/news/slide-4-desktop@2x.webp") type("image/webp") 2x, url("/img/news/slide-4-desktop@1x.webp") type("image/webp") 1x, url("/img/news/slide-4-desktop@2x.jpeg") type("image/jpeg") 2x, url("/img/news/slide-4-desktop@1x.jpeg") type("image/jpeg") 1x);
  }
}

.news__content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.news__content-wrapper {
  position: relative;

  display: flex;
  align-items: center;
  padding: 14px 48px 9px 0;

  background-color: $color-alabaster;
  border-radius: 0 12px;

  gap: 16px;

  @media (min-width: $tablet-width) {
    padding: 12px 48px 15.5px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 11px 45px 16px 0;
  }

  &::after {
    content: "";
    position: absolute;
    right: -18px;
    bottom: 0;

    width: 20px;
    height: 20px;

    background-color: $color-alabaster;

    mask-image: url("/__spritemap#sprite-angle-view");
    mask-repeat: no-repeat;
    mask-size: cover;
  }
}

.news__swiper-slide:nth-child(2n) .news__content-wrapper {
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding-bottom: 15px;
  }
}

.news__date {
  position: relative;

  width: 72px;
  margin: 0;
  padding: 10px 12px 6px 0;

  font-weight: $regular;
  font-size: 12px;
  line-height: 12px;
  color: $color-yinmn-blue;
  letter-spacing: 0.12px;

  background-color: $color-alabaster;
  border-radius: 0 12px 0 0;

  &::before {
    content: "";
    position: absolute;
    top: -18px;
    left: 0;

    width: 20px;
    height: 20px;

    background-color: $color-alabaster;

    mask-image: url("/__spritemap#sprite-angle-view");
    mask-repeat: no-repeat;
    mask-size: cover;
  }

  &::after {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;

    width: 20px;
    height: 20px;

    background-color: $color-alabaster;

    mask-image: url("/__spritemap#sprite-angle-view");
    mask-repeat: no-repeat;
    mask-size: cover;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 13px 6px 0;
  }
}

.news__content-title {
  position: relative;

  width: 193px;
  margin: 0;
  padding: 10px 7px 4px 0;

  font-weight: $regular;
  font-size: 16px;
  line-height: 18px;
  color: $color-yinmn-blue;

  background-color: $color-alabaster;
  border-radius: 0 12px 0 0;

  @media (min-width: $tablet-width) {
    width: 201px;
    padding: 11px 6px 5px 0;

    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 185px;
    padding: 10px 5px 4px 0;

    font-size: 24px;
    line-height: 26px;
  }

  &::after {
    content: "";
    position: absolute;
    right: -18px;
    bottom: 0;

    width: 20px;
    height: 20px;

    background-color: $color-alabaster;

    mask-image: url("/__spritemap#sprite-angle-view");
    mask-repeat: no-repeat;
    mask-size: cover;
  }
}

.news__content-wrapper p {
  width: 199px;
  margin: 0;

  font-weight: $regular;
  font-size: 12px;
  line-height: 14px;

  background-color: $color-alabaster;

  @media (min-width: $tablet-width) {
    width: 176px;

    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 180px;

    line-height: 18px;
  }

  br {
    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      display: none;
    }
  }
}

.news__swiper-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 3px;

  @media (min-width: $tablet-width) {
    padding-top: 8px;
    padding-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 44px;
  }
}

.news__pagination-container {
  position: absolute;
  bottom: 42px;
  left: 49px;

  @media (min-width: $tablet-width) {
    bottom: 42px;
    left: 244px;

    width: 214px;
    min-height: 32px;
  }

  @media (min-width: $desktop-width) {
    bottom: 52px;
    left: 513px;
  }
}

.news__pagination-container>.news__pagination.pagination.swiper-pagination {
  position: absolute;

  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width: 184px;
  min-height: 28px;
  overflow: hidden;

  transform: translateX(0);

  gap: 0;
}

.news__pagination.swiper-pagination-horizontal.swiper-pagination-bullets>.swiper-pagination-bullet {
  margin: 0 8px;

  &:last-of-type {
    margin-right: 0;
  }
}

@media (min-width: $tablet-width) {
  .news__pagination-container>.news__pagination.pagination.swiper-pagination {
    left: -66px;

    max-width: 260px;
  }

  .news__pagination.swiper-pagination-horizontal.swiper-pagination-bullets>.swiper-pagination-bullet {
    margin: 0 10px;
  }
}

@media (min-width: $desktop-width) {
  .news__pagination-container>.news__pagination.pagination.swiper-pagination {
    left: -101px;

    justify-content: flex-start;
    max-width: 344px;
  }
}
