html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
}

html {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-family: "Manrope", "Arial", sans-serif;
  color: $color-alcro-anis;
  font-style: normal;

  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  min-width: $mobile-width;
  height: 100%;

  background-color: $color-alabaster;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-body {
  h2 {
    margin: 0;

    font-weight: $regular;
    font-size: 20px;
    line-height: 20px;
    color: $color-yinmn-blue;

    @media (min-width: $tablet-width) {
      font-size: 34px;
      line-height: 50px;
    }

    @media (min-width: $desktop-width) {
      font-size: 50px;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: none;
    width: 100%;
    height: 100%;

    background-color: rgba(13, 29, 51, 0.4);

    transition: opacity 0.3s ease;
  }

  .overlay.is-open {
    display: block;

    opacity: 1;
  }
}
