// Сustom сolor

$color-alcro-anis: #484848;
$color-alabaster: #f0efe9;
$color-yinmn-blue: #316dc2;
$color-medium-sapphire: #275699;
$color-dark-gray: #a9afb7;
$color-pastel-red: #ff5e66;
$color-yinmn-blue-20: rgba(49, 109, 194, 0.2);
$color-squid-ink-40: rgba(13, 29, 51, 0.4);

// Gradient

$gradient: rgba(49, 109, 194, 0.2);
;

// Default color

$color-default-white: #ffffff;

// Typography

$light: 300;
$regular: 400;
$medium: 500;
$manrope: "Manrope", "Arial", sans-serif;

// Width

$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width-only: 767px;
$mobile-width: 320px;
