.form {
  min-height: 650px;
  margin: 0 auto;
  padding: 40px 0;

  color: $color-default-white;
  word-break: break-word;

  @media (min-width: $tablet-width) {
    padding: 50.5px 45px 50px 44.5px
  }

  @media (min-width: $desktop-width) {
    padding: 60px 100px;
    padding-bottom: 59.4px;
  }
}

.form__wrapper {
  padding: 43px 0 40px;

  background-color: $color-dark-gray;
  background-image: image-set(url("/img/form/form-background-mobile@2x.webp") type("image/webp") 2x, url("/img/form/form-background-mobile@1x.webp") type("image/webp") 1x, url("/img/form/form-background-mobile@2x.jpg") type("image/jpg") 2x, url("/img/form/form-background-mobile@1x.jpg") type("image/jpg") 1x);
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    width: 652px;
    margin: 0 auto;
    padding: 0;

    background-image: image-set(url("/img/form/form-background-tablet@2x.webp") type("image/webp") 2x, url("/img/form/form-background-tablet@1x.webp") type("image/webp") 1x, url("/img/form/form-background-tablet@2x.jpg") type("image/jpg") 2x, url("/img/form/form-background-tablet@1x.jpg") type("image/jpg") 1x);
    border-radius: 16px;

    @media (min-width: $desktop-width) {
      width: 1240px;

      background-image: image-set(url("/img/form/form-background-desktop@2x.webp") type("image/webp") 2x, url("/img/form/form-background-desktop@1x.webp") type("image/webp") 1x, url("/img/form/form-background-desktop@2x.jpg") type("image/jpg") 2x, url("/img/form/form-background-desktop@1x.jpg") type("image/jpg") 1x);
    }
  }
}

.form__form-container {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin: 0 auto;
  padding: 17.5px 15px 27px;

  background-color: $color-yinmn-blue;
  border-radius: 16px;

  @media (min-width: $tablet-width) {
    width: 362px;
    margin: 0;
    padding: 30px 40px 36px;
  }

  @media (min-width: $desktop-width) {
    width: 350px;
    padding: 30px 70px 41px;
  }
}

.form__title {
  margin: 0;
  padding-bottom: 12px;

  font-weight: $regular;
  font-size: 18px;
  line-height: 17px;

  @media (min-width: $tablet-width) {
    padding-top: 12px;
    padding-bottom: 30px;

    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 14px;
    padding-bottom: 34px;

    font-size: 32px;
    line-height: 36px;
  }
}

.form__description {
  margin: 0;

  font-weight: $regular;
  font-size: 14px;
  line-height: 20px;
  color: $color-alabaster;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    line-height: 26px;
  }
}

.form__header-wrapper {
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
  }
}

.form__label {
  display: flex;
  flex-direction: column;

  font-weight: $regular;
  font-size: 12px;
  line-height: 14px;
  color: $color-alabaster;

  opacity: 0.8;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 18px;
  }
}


.form__field {
  box-sizing: border-box;
  height: 50px;
  margin-top: 11.5px;
  margin-bottom: 20.5px;
  padding-left: 25px;

  color: $color-default-white;

  background-color: transparent;
  border: 1px solid rgba($color-default-white, 0.3);
  border-radius: 8px;
  outline: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    margin-top: 12px;
  }

  &--textarea {
    height: 94px;
    padding: 15px 56px 14px 18px;
    margin-bottom: 20.5px;

    resize: none;

    @media (min-width: $tablet-width) {
      height: 88px;
      margin-bottom: 20px;
    }

    @media (min-width: $desktop-width) {
      height: 90px;
      margin-bottom: 17px;
    }
  }
}

.form__field:disabled {
  background-color: rgba($color-dark-gray, 0.2);
  border-color: rgba($color-dark-gray, 0.5);

  user-select: none;
  pointer-events: none;
}

.form__field:disabled + .form__label-text {
  color: rgba($color-dark-gray, 0.6);
}

.form__field:disabled,
.form__field:disabled:hover {
  background-color: rgba($color-dark-gray, 0.2);
  border-color: rgba($color-dark-gray, 0.5);

  user-select: none;
}

.form__field:disabled + .form__label {
  color: rgba($color-dark-gray, 0.6);
}

.form__submit-button {
  position: relative;

  width: 260px;
  margin-top: 19px;
  padding: 16px 58px 14px 20px;

  font-weight: $medium;
  font-size: 12px;
  line-height: 12px;
  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 0.28px;

  background-color: transparent;
  border: 1px solid $color-default-white;
  border-radius: 30px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    width: 352px;
    margin-top: 44px;
    margin-right: auto;
    padding: 20px 85px 20px 35px;

    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    width: 350px;
    margin: 43px auto 0;
    padding: 20px 77px 20px 27px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    right: 4px;

    width: 34px;
    height: 34px;

    background-color: $color-default-white;
    border-radius: 44px;

    @media (min-width: $tablet-width) {
      top: 4px;
      right: 4px;

      width: 46px;
      height: 46px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 15.5px;
    right: 16px;

    width: 9px;
    height: 9px;

    background-color: $color-yinmn-blue;
    transform: rotate(-45deg);

    mask-image: url("/__spritemap#sprite-arrow-view");
    mask-repeat: no-repeat;
    mask-size: cover;

    @media (min-width: $tablet-width) {
      top: 23px;
      right: 23px;
    }
  }
}

.form__field:hover:not(:disabled),
.form__field:hover:not(:disabled) + .form__label,
.form__field:focus:not(:disabled),
.form__field:focus:not(:disabled) + .form__label {
  border-color: rgba($color-default-white, 1);
  opacity: 1;
}


.form__input-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.form__field.select__field {
  width: 260px;
  height: 52px;
  margin-top: 11px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-top: 12px;
    padding-left: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 11px;
    padding-left: 20px;
  }
}
